*{
    font-family: 'Segoe UI light' !important;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background: #24353f;
    font-family: 'Titillium Web', sans-serif;
}
.color{
    color: #17a2b8;
}
.inputs{
    background-color: transparent !important;
}
.color1{
    color: white;
}
.shadow{
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1) !important;
}
.bord{
    border: 1px solid #17a2b8 !important;
}
input{
    color: white !important;
}



@media only screen and (max-width: 1000px) {
    .group {
        display: block;
        width: 100%;
    }
  }